.product-card {
  margin-bottom: 30px;
}

.card-top-container {
  text-align: center;
  padding: 16px 0px;
}

.card-top-container img {
  width: 220.72px;
  height: 165px;
}

.card-bottom-container h6 {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: #000000;
  padding-bottom: 15px;
}

.product-card .card-bottom-container p {
  font-size: 12px;
  align-items: center;
  font-style: italic;
  color: #585858;
  margin: 0px 10px 40px 15px;
}

@media (min-width: 576px) {
  .product-card .card-bottom-container p {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .product-card .card-bottom-container p {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .product-card .card-bottom-container p {
    margin: 0px 20px 40px 22px;
  }
}

